* {
    font-family: 'Work Sans', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    color: #4053AE;
}

a {
    text-decoration: none;
    color: #4053AE;
}



.header {
    background-color: #FDF7EE;
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom:30px; 
  
}



.section{
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    font-size: 2em;
    font-weight: 900;
}

nav {
    display: flex;
    justify-content: end;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
}

.navLink {
    text-align: center;
    align-content: center;
    padding-left: 30px;
    font-size: 18px;
}

.logBtn {
    padding: 2px;
    border: solid #4053AE 1px;
    background-color: #4053AE;
    margin-left: 30px;
    color: white;
    font-size: 18px;
    border-radius: 10%;
}

.pet-care {
    display: flex;
    justify-content: center;
    background-color: #FDF7EE;
    padding: 20px 0 20px 0;
}

.txt-artcl {
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;

}

.col-1-1 {
    font-size: 7em;
    font-weight: 900;
}

.col-2-1 {
    font-size: 2em;
}

.btn-visit {
    padding: 5px;
    width: 150px;
    border: solid #4053AE 1px;
    background-color: #4053AE;
    color: white;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}



.photo-wrap {
    display: flex;
    justify-content: end;
}

.round-photo {
    width: 70%;
    border-radius: 50%;
}

/* ---------------- About---------------- */

.about {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}

.doct-wrap {
    display: flex;
    justify-content: end;
}



.doct-photo {

    max-width: 90%;
    border-radius: 50%;
}

.txtabout-wrap {
    display: flex;
    justify-content: start;
}

.txt-artcl2 {
    display: flex;
    padding-left: 50px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.txt-about {
    max-width: 600px;
}

/* ------------- Service----------------- */

.services{
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}

.title{
padding: 10px 0 20px 0;
font-size: 2.5em;

}

.services-wrapper{
    display: flex;
    flex-direction: column;  
    min-width: 70%; 
}

.services-header{
display: flex;
justify-content: center;
}

.service-options{
display: flex;
justify-content: space-around;
}

.animal-img{
    width: 100%;
    border-radius: 50%;
}

.service-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.service-btn{
    padding: 5px;
    width: 150px;
    border: solid #4053AE 1px;
    background-color: #4053AE;
    color: white;
       text-align: center;
       cursor: pointer;
}

.client {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}
.client-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }

.cl-img{
        max-width: 25%;
    }


    /* ------------Contact---------------------*/

.contact{
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    background-color: #4053AE;
    color: white;
}
.contact-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
}

.contact-info{
    display: flex;
    justify-content: space-between;
}


    .form{
    display: flex;
    flex-direction: column;
   
}

.cl-data{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    ;
}
.cl-inp{
   height: 25px; 
    width: 40%;
    
}

.inp-style{
    border: none;
    border-bottom: solid white 2px;
    background-color: #4053AE;
    color: white;
}

.p-info{
    font-weight:600;
    margin-bottom: 0;
}

textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.form-btn{
    border: none;
    background-color: #4053AE;
    color: white;
    height: 40px;
    margin-top: 20px;
}

.form-btn:hover{
    background-color: #8B96C9;
    cursor: pointer;
       
}
